<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Poop blocker 💩</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Poop blocker 💩
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      
      <p>This blocks every single user who retweeted an specific tweet and allows you to report them as spam if you so choose.</p>
      
      <p class="bold">You can rely on Twitter's OAuth services</p>
      <form action="/request-token" method="post">
        <label class="form-block">Tweet URL <input id="tweet_url2" name="tweet_url" type="text" required class="form-block" placeholder="The URL you wish to block goes here =)" aria-labelledby="submit-block"></label>
        <label class="form-block"><input id="reportauth" name="report" type="checkbox"> Report as spam?</label> <br><br>
        <button type="submit" class="form-block">Block the poop!</button>
      </form>
      
      <p class="bold">Or write in your credentials manually. The Consumer Key, Consumer Secret, Access Token, and Access Token Secret are Twitter credentials. You can get them <a href="https://apps.twitter.com/">here</a>.</p>
      
      <form  action="/block" method="post">
        <label class="form-block">Consumer Key<input type="password" id="consumer_key" class="form-block" name="consumer_key" required placeholder="Consumer Key"/></label>
        <label class="form-block">Consumer Secret<input type="password" id="consumer_secret" class="form-block" name="consumer_secret" required placeholder="Consumer Secret"/></label>
        <label class="form-block">Access Token<input type="password" id="access_token" class="form-block" name="access_token" required placeholder="Access Token"/></label>
        <label class="form-block">Access Token Secret<input type="password" id="access_token_secret" class="form-block" name="access_token_secret" required placeholder="Access Token Secret"/></label>
        <label class="form-block">Tweet URL<input id="tweet_url" name="tweet_url" type="text" required class="form-block" placeholder="The URL you wish to block goes here =)" aria-labelledby="submit-block"></label>
        <label class="form-block"><input id="report" name="report" type="checkbox"> Report as spam?</label> <br><br>
        <button type="submit" id="submit-block" class="form-block">Block the poop!</button>
      </form>

    </main>

    <footer>
      Made by <a href="https://github.com/Rumpelcita">rumpel</a>
      with <a href="https://glitch.com">Glitch</a>!<br>
      <a href="https://github.com/Rumpelcita/poop-blocker">code</a> 💩
    </footer>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>

  </body>
</html>
